@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-gray-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2d3a4e;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0284c7;
  border-radius: 14px;
}